.glass {
  background: rgba(15, 23, 42, 0.55);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  border: 1px solid rgba(255, 255, 255, 0.08);

  box-shadow:
    0 8px 32px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);

  border-radius: 20px;
}

.glass-hover {
  transition: all 0.3s ease;
}

.glass-hover:hover {
  transform: translateY(-4px);

  border-color: rgba(139, 92, 246, 0.4);

  box-shadow:
    0 12px 40px rgba(124, 58, 237, 0.25),
    inset 0 1px 0 rgba(255, 255, 255, 0.08);
}
/* Custom Glass Scrollbar */
.glass-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #5839b8 #0b0c16;
  scrollbar-gutter: stable;
}

/* Chrome, Edge, Safari */
.glass-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.glass-scrollbar::-webkit-scrollbar-track {
  background: #0b0c16;
  border-radius: 9999px;
}

.glass-scrollbar::-webkit-scrollbar-thumb {
  background: #5839b8;
  border-radius: 9999px;
  border: none;
}

.glass-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6a4bd1;
}

.glass-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
